*.pb.*
*.d.*
*.d
*.o

quipper
perf_converter
perf_to_profile
intervalmap_test
perf_data_converter_test
perf_data_handler_test
chrome_huge_pages_mapping_deducer_test
unit_tests
integration_tests
perf_recorder_test
